body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav {
    width: 20%;
}
fieldset {
    width: 95%;
    box-sizing: border-box;
}
main {
    width: 80%;
    height: 100%;
    display: flex;
}
#a_scan_box {
    position: relative;
    height: 90vh;
    width: 100%;
}
#single_view_wrapper {
    position: relative;
    height: 90vh;
    width: 100%;
}
#a_scan_box > canvas {
    width: 100%;
}
footer {
    position: fixed;
    bottom: 0;
}