<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <title>US-Viewer</title>
        <script src="/js/chart.js"></script>
        <script src="/js/hammer.js"></script>
        <script src="/js/chart.zoom.js"></script>
        <script src="/js/chart.matrix.js"></script>
        <script src="/js/global.config.js"></script>
        <script src="/js/chart.annotation.js"></script>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <nav>
            <h1>Ultraschall Viewer</h1>
            <input type="file" name="path" id="file" accept=".sdt" />
            <br />
            <select id="channel_selector">
                <option value="">--Bitte einen Kanal auswählen--</option>
            </select>
            <br />
            {% if single_view %}
            <select id="display_mode">
                <option value="">--Darstellungsmodus--</option>
                <option value="c-scan">C-Bild</option>
                <option value="d-scan">D-Bild</option>
            </select>
            <fieldset>
                <legend>Koordinaten</legend>
                <div>
                    <input type="radio" name="scaling" value="points" checked id="points" />
                    <label for="points">Punktweise</label>
                </div>
                <div>
                    <input type="radio" name="scaling" value="mm" id="mm" />
                    <label for="mm">Angabe in mm</label>
                </div>
            </fieldset>
            {% endif %}
            <br />
            <input id="aperture_start" type="text" placeholder="Beginn Blende" />
            <br />
            <input id="aperture_end" type="text" placeholder="Ende Blende" />
            <br />
            <button id="export_button">Daten exportieren</button>
        </nav>
        <main>
            {% if single_view %}
            {% include "single_view" %}
            {% else %}
            {% include "multi_view" %}
            {% endif %}
            <div id="a_scan_box">
                <canvas id="a_scan_view"></canvas>
            </div>
        </main>
        <footer id="data_info">

        </footer>
    </body>
    <script src="/js/index.js"></script>
</html>