<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <title>SonoWare Viewer</title>
        <script src="/js/chart.js"></script>
        <script src="/js/hammer.js"></script>
        <script src="/js/chart.zoom.js"></script>
        <script src="/js/chart.matrix.js"></script>
        <script src="/js/global.config.js"></script>
        <script src="/js/chart.annotation.js"></script>
        <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
        <nav>
            <img src="/img/SonoWareFZULogo.png" alt="SonoWare Viewer Logo" width="100%">
            <div>
                <input type="file" name="path" id="file" accept=".sdt" />
            </div>
            <div>
                <select id="channel_selector">
                    <option value="">--Bitte einen Kanal auswählen--</option>
                </select>
            </div>
            {% if single_view %}
            <div>
                <select id="display_mode">
                    <option value="">--Darstellungsmodus--</option>
                    <option value="c-scan">C-Bild</option>
                    <option value="d-scan">D-Bild</option>
                </select>
            </div>
            {% endif %}
            <div>
                <label for="colormap">Farbschema:</label>
                <select id="colormap" name="colormap">
                    <option value="black-white">Schwarz-Weiß</option>
                    <option value="jet">Jet</option>
                    <option value="fz-u">FZ-U</option>
                    <option value="red-white-blue">Rot-Weiß-Blau</option>
                    <option value="hot">Hot</option>
                    <option value="stairs">Stufen</option>
                </select>
            </div>
            <fieldset>
                <legend>Koordinaten</legend>
                <div>
                    <input type="radio" name="scaling" value="points" checked id="points" />
                    <label for="points">Punktweise</label>
                </div>
                <div>
                    <input type="radio" name="scaling" value="mm" id="mm" />
                    <label for="mm">Angabe in mm</label>
                </div>
            </fieldset>
            <div>
                <input id="aperture_start" type="text" placeholder="Beginn Blende" />
            </div>
            <div>
                <input id="aperture_end" type="text" placeholder="Ende Blende" />
            </div>
            <div>
                <button id="export_button">Daten exportieren</button>
            </div>
            <div>
                <a href="/help" target="_blank">Hilfe</a>
            </div>
        </nav>
        <main>
            {% if single_view %}
            {% include "single_view" %}
            {% else %}
            {% include "multi_view" %}
            {% endif %}
            <div id="a_scan_box">
                <canvas id="a_scan_view"></canvas>
            </div>
        </main>
        <footer id="data_info">

        </footer>
    </body>
    <script src="/js/index.js"></script>
</html>